.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header h1 {
  font-size: 65px;
}

.header p {
  font-size: 30px;
}

.headerMobile {
  padding: 15px;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.headerMobile h1 {
  font-size: 32px;
}

.headerMobile p {
  font-size: 20px;
}
